.type {

    &__about {
        flex: 1;
        padding: 30px 20px 30px 20px;
        @media (max-width: 1023px) {
            flex: 0 0 100%;
            order: 0;
        }
        @media (max-width: 539px) {
            padding: 24px 20px 25px 20px;
        }
        &_news {
            padding: 30px 38px 30px 38px;
            & .type__about-item-lead {
                max-width: none;
            }
            @media (max-width: 539px) {
                padding: 24px 20px 25px 20px;
            }
        }
    }


    &__about-title {
        margin-bottom: 27px;
        @media (max-width: 539px) {
            margin-bottom: 21px;
        }
    }

    &__title {
    }

    &__about-list {
    }

    &__about-item {
        display: flex;
        gap: 11px;
        padding: 10px 15px 10px 10px;
        position: relative;
        align-items: center;
        @media (min-width: 1024px) {
        }
        @media (max-width: 539px) {
            gap: 7px;
            padding: 10px 10px 10px 10px;
        }
        &:not(:last-child) {
            margin-bottom: 20px;
            @media (max-width: 539px) {
                margin-bottom: 15px;
            }
        }
    }

    &__about-item-pic {
        border-radius: 10px;
        flex: 0 0 90px;
        & img {
            width: 100%;
            height: 100%;
            border-radius: 10px;
            object-fit: cover;
            max-height: 96px;
        }
    }

    &__about-item-text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 1;
        padding-top: 10px;
        @media (max-width: 539px) {
            padding-top: 5px;
        }
    }

    &__about-item-name {
        margin-bottom: 8px;
        @media (max-width: 539px) {
            margin-bottom: 4px;
        }
    }

    &__about-item-lead {
        @media (max-width: 1023px) {
            max-width: 350px;
        }
    }
    &__about-item-more {
        margin-left: auto;
        margin-right: 0;
        width: fit-content;
    }

    &__about-video {
        margin-bottom: 10px;
        & img {
            width: 100%;
        }
    }
}
